/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/***************************************************/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #a2c8f6;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper > * {
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.content {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}

button.addBook {
  background-color: rgb(15, 80, 120);
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.bookCard {
    background-color: rgb(243, 200, 128);
    border: solid black 2px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 1rem;
    gap: 10px;
}

.readStatusBtn {
    margin-top: auto;
}

.readStatusBtn.readYes {
    background-color: rgb(91, 164, 91);
}

.readStatusBtn.readNo {
    background-color: rgb(194, 89, 89);
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 210, 210, 0.3);
    align-items: center;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(6px);
}



.bookForm {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding-top: 1em;
    gap: 12px;
    background-color: rgb(230, 230, 230);
    border: black solid 4px;
    border-radius: 25px;
    padding: 1.5rem;
}



.hidden {
    visibility: hidden;
} 